<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="no-ip:hostname" value="w00tcakes.ddns.net"/>
        <add key="no-ip:auth" value="UDkHV/36Cg+RrQ0="/>
        <!-- optional params
        <add key="no-ip:key" value="chat"/>
        <add key="no-ip:address" value="68.5.58.97"/>
        -->
    </appSettings>
</configuration>
