<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- if you wish to enable 'no-ip' integration, uncomment:
        <add key="no-ip:hostname" value="w00tcakes.ddns.net"/>
        <add key="no-ip:auth" value="UDkHV/36Cg+RrQ0="/>
        <!-- additional, optional params:
        <add key="no-ip:key" value="chat"/>
        <add key="no-ip:address" value="68.5.58.97"/>
        -->
    </appSettings>
</configuration>
