<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="system.diagnostics" type="X4D.Diagnostics.Configuration.SystemDiagnosticsConfigurationSection,X4D.Diagnostics.Configuration" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

    <appSettings>
        <!--
        <add key="no-ip:hostname" value="w00tcakes.ddns.net"/>
        <add key="no-ip:auth" value="am+tOK/sJCis41CwMUBe2zJ1ka6+Qg=="/>
        <!--
        <add key="no-ip:key" value="chat"/>
        <add key="no-ip:address" value="127.0.0.1"/>
        -->
    </appSettings>

    <system.diagnostics configSource="systemDiagnostics.config" />

</configuration>
