<system.diagnostics>
    <sources>
        <source name="shenc" switchValue="Warning">
            <listeners>
                <add name="ConsoleLog" />
            </listeners>
        </source>
        <source name="CQ" switchValue="Warning">
            <listeners>
                <add name="ConsoleLog" />
            </listeners>
        </source>
        <source name="CQ.Crypto" switchValue="Warning">
            <listeners>
                <add name="ConsoleLog" />
            </listeners>
        </source>
        <source name="CQ.Network" switchValue="Warning">
            <listeners>
                <add name="ConsoleLog" />
            </listeners>
        </source>
        <source name="CQ.Settings" switchValue="Warning">
            <listeners>
                <add name="ConsoleLog" />
            </listeners>
        </source>
    </sources>
    <trace>
        <listeners>
            <add name="ConsoleLog"/>
        </listeners>
    </trace>
    <sharedListeners>
        <add name="ConsoleLog"
             type="X4D.Diagnostics.ConsoleJsonTraceListener,X4D.Diagnostics.ConsoleJsonTraceListener" />
    </sharedListeners>
</system.diagnostics>
