<?xml version="1.0"?>
<system.diagnostics>
    <trace autoflush="true">
        <listeners>
            <add name="ConsoleLog" />
        </listeners>
    </trace>
    <sharedListeners>
        <add name="ConsoleLog"
             type="shenc.TraceListeners.ConsoleTraceListener,shenc" />
    </sharedListeners>
</system.diagnostics>
