<system.diagnostics>
    <sources>
        <source name="shenc">
            <listeners>
                <add name="ConsoleLog"/>
            </listeners>
        </source>
        <source name="CQ.Network">
            <listeners>
                <add name="ConsoleLog"/>
            </listeners>
        </source>
        <source name="CQ.Crypto">
            <listeners>
                <add name="ConsoleLog"/>
            </listeners>
        </source>
        <source name="CQ.Settings">
            <listeners>
                <add name="ConsoleLog"/>
            </listeners>
        </source>
    </sources>
    <trace>
        <listeners>
            <add name="ConsoleLog"/>
        </listeners>
    </trace>
    <sharedListeners>
        <add name="ConsoleLog"
            type="X4D.Diagnostics.TraceListeners.ConsoleTraceListener,X4D.Diagnostics.TraceListeners" />
    </sharedListeners>
</system.diagnostics>
